[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RGS"]
	path = RGS
	url = https://github.com/cran/RGS
[submodule "TCPMOR"]
	path = TCPMOR
	url = https://github.com/cran/TCPMOR
